
body {
    background-color: rgb(188, 179, 219);
}

table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid;
}

tr:nth-child(even){background-color: #e3c7c7;}
tr:nth-child(odd){background-color: #d29d9d;}
tr:hover {background-color: #726060;}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #485193;
}
    
.navbar li a, .navbar-right {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #111;
}

.navbar-right {
    float: right;
}
.navbar-left {
    float: left;
}

input, select {
    border: 2px solid #726060;
    background-color: #d29d9d;
    margin: 8px 0;
}

input[type=text] {
    
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}