{# templates/base.html #}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <title>Boared gamerz</title>
</head>

<body>
    <nav class="navbar">
        <ul class="nav-links">
            <li class="navbar-left"><a href="/">Home</a></li>
            <li class="navbar-left"><a href="/input">Add entries</a></li>
            <li class="navbar-left"><a href="/login">Login</a></li>
            <li class="navbar-right">Welcome, {{user_info}}</li>
        </ul>
    </nav>
    {% block main_content %}
    {% endblock main_content %}
</body>
</html>