{# templates/results.html #}

{% extends "base.html" %}

{% block main_content %}
<h1>Leaderboard</h1>
<table>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Points</th>
      <th>Rank</th>
      <th>Sessions</th>
    </tr>
    {% for row in leaderboard %}
    <tr>
      <td><img src="data:image/jpeg;base64,{{ row['profile_picture'] | safe }}" width="75" height="75"></td>
      <td>{{row["name"]}}</td>
      <td>{{row["score"]}}</td>
      <td>{{row["rank"]}}</td>
      <td>{{row["number_sessions"]}}</td>
    </tr>
    {% endfor %}
  
</table>
{% endblock main_content %}